<div class="span4 offset2">
  <h3 class="span2 offset1">Characters!</h3>
<div class="span3">
<hr>
  <%= @adjectives[0] %> <%= @noun %> <%= @profession %> <br />
  <%= @adjectives[1] %> <%= @noun %> <%= @profession %> <br />
  <%= @adjectives[1] %> <%= @adjectives[0] %> <%= @profession %> <br />
<hr>
</div>
<a class="btn btn-large btn-primary span3" href="/character-generator">Get New Stuff, These Suck!</a>
</div>
